<appSettings>
	<add key="FacebookAppId" value="427002402489563"/>
	<add key="FacebookAppSecret" value="f635e744372941ecb44fa21d1d792b72"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>