@model VideoRentingStore.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var className = Model.Customers.Count > 1 ? "popular" : null;
 }


<h2 class="@className">@Model.Movie.Name</h2>

@if(Model.Customers.Count == 0)
            {
                <text>No one rented this movie before.</text>
            }

<ul>
    @foreach (var customers in Model.Customers)
    {
        <li>@customers.Name</li>
    }
</ul>

