@model IEnumerable<VideoRentingStore.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12" id="movies_list">
        <h1>Movies</h1>

        @if (Model.Any())
        {
            <table class="table table-hover" id="movies">
                <thead>
                    <tr>
                        <th scope="col">Movie</th>
                        <th scope="col">Genre</th>
                    </tr>
                </thead>
                <tbody>


                </tbody>
            </table>
        }
        else
        {
            <h1>We don't have any movies yet.'</h1>
        }
    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
           $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                    },
                    {
                        data: "Genre.Name"
                    }
                ]
            });
        });
    </script>
    }